.features {
  max-width: $mobile-section-width;
  margin: 0 auto;
  padding: 60px 15px;
  .features-list {
    .features-card {
      &:nth-child(4) {
        margin-right: 0px;
      }
    }
  }
}
.features-card {
  .icon-frame {
    min-height: 120px;
    background-color: $secondary-bgc-grey;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .icon {
      width: 70px;
      height: 70px;
    }
  }
  .features-card-discription {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    color: $description-text-color;
  }
  .features-card-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
  }
}
