.navigation {
  @media screen and (max-width: 767px) {
    display: none;
    &.is-open {
      display: block;
      position: absolute;
      top: calc(100% + 1px);
      left: 0;
      width: 100%;
      padding: 60px 0px;
      background-color: #ffffff;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .nav-list {
    @media screen and (min-width: 768px) {
      display: flex;
    }
    .item {
      @media screen and (max-width: 767px) {
        text-align: center;
        &:not(:last-child) {
          margin-bottom: 40px;
        }
      }

      @media screen and (min-width: 768px) {
        &:not(:last-child) {
          margin-right: 50px;
        }
      }
    }
    &-title {
      display: inline-block;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.02em;

      transition: color 250ms $transform-cubic;
      @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.14;
      }
      &:hover,
      &:focus {
        color: $focused-color;
      }
    }
  }
}
