.hero-section {
  margin: $center-element;
  padding: 118px 0;
  background-position: 50% 50%;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/header-img.jpg);
  background-repeat: no-repeat;
  text-align: center;
  @media screen and (max-width: 767px) {
    min-width: 357px;
    max-width: $mobile-section-width;
  }
  @media screen and (min-width: 768px) {
    width: $tablet-section-width;
  }
  @media screen and (min-width: 1200px) {
    width: $desktop-section-width;
  }
}
