.checkbox-policy-form-field {
  position: relative;
  min-width: 425px;
  padding-left: 15px;
  .policy-text {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;

    color: $description-text-color;
  }
  .policy-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    margin-left: 5px;

    text-decoration-line: underline;

    color: $focused-color;
  }
  .policy-stock-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    &:checked + .custom-checkbox {
      border-color: $focused-color;
      background-color: $focused-color;
    }
  }
  .policy-label {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
  }
  .custom-checkbox {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid #212121;
    border-radius: 3px;
    .checked-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -45%);
    }
  }
}
